div.grid {
    width: 600px;
    height: 600px;
    margin: 0 auto;
    background-color: #02383C;
    color: #fff;
    border: 6px solid #02383C;
    border-radius: 10px;
    display: grid;
    grid-template: repeat(3, 1fr) / repeat(3, 1fr);
}
